// regular
@font-face {
  font-family: #{$font-family};
  src:
          url('../fonts/#{$font-family}-Regular.woff2') format('woff2'),
          url('../fonts/#{$font-family}-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
// bold
@font-face {
  font-family: #{$font-family};
  src:
          url('../fonts/#{$font-family}-Bold.woff2') format('woff2'),
          url('../fonts/#{$font-family}-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
// italic
@font-face {
  font-family: #{$font-family};
  src:
          url('../fonts/#{$font-family}-Italic.woff2') format('woff2'),
          url('../fonts/#{$font-family}-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

// black
@font-face {
  font-family: #{$font-family};
  src:
          url('../fonts/#{$font-family}-Black.woff2') format('woff2'),
          url('../fonts/#{$font-family}-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src:  url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src:  url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
        url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
        url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
        url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
