h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
	margin: 1rem 0;
}


h2, .h2 {
	position: relative;

	//font-size: $font-size-h2-small;
	font-size: $font-size-h2;
	padding: 25px 0;
	text-transform: uppercase;
	margin: 0 0 30px;

	&:after {
		content: '';
		@include absolute(null null -4px 0);
		@include size(84px 4px);
		background-color: $brand-primary;
	}


	//@include sm{
	//	font-size: $font-size-h2;
	//}
}

h3, .h3 {
	font:{
		size: $font-size-lg;
		weight: $font-weight-black;
	}
}

p {
	font-size: $font-size-md;
	margin: 0 0 $rem;
	line-height: 1.5;
	color: $text-color;
}

// Unordered and Ordered lists
ul,
ol {
	margin: 0;
	padding: 0;
}
