//
// Typography
// --------------------------------------------------


// Headings
// -------------------------
//h1, h2, h3, h4, h5, h6,
//.h1, .h2, .h3, .h4, .h5, .h6 {
//	font-family: $headings-font-family;
//	font-weight: $headings-font-weight;
//	line-height: $headings-line-height;
//	color: $headings-color;
//	margin: 1rem 0;
//}
//
//h1, .h1 {
//	font-size: 60px;
//	line-height: 1;
//
//	@include sm{
//		font-size: $font-size-h1;
//	}
//
//	@include sm-md{
//		line-height: .9;
//	}
//
//	span{
//		display: block;
//		padding-top: 15px;
//		font-size: 36px;
//		line-height: $line-height-normal;
//
//		@include sm{
//			font-size: $font-size-h2;
//		}
//
//		@include sm-md{
//			padding-top: 20px;
//		}
//		@include md{
//			padding-top: 5px;
//		}
//	}
//}
//
//h2, .h2 {
//	font-size: $font-size-h2-small;
//	margin: 20px 0;
//
//	@include sm{
//		font-size: $font-size-h2;
//	}
//}
//h3, .h3 { font-size: $font-size-h3; }
//h4, .h4 { font-size: $font-size-h4; }
//
//
//
//
//h2, .h2,
//h3, .h3{
//	line-height: 3rem;
//}
//
//h4, .h4{
//	line-height: 3rem;
//}

// Body text
// -------------------------

p {
	font-size: $font-size-md;
	margin: 0 0 $rem;
	line-height: 1.5;
	color: $text-color;
}

// Unordered and Ordered lists
ul,
ol {
	margin: 0;
	padding: 0;
}
