.header {

  &-wrapper {
    background-color: $gray-light;
  }

  &-info {
    @include flex-dispay;
    align-items: center;
    justify-content: space-between;
    @extend %container;
    height: $header-first-row-height;
    font-size: 0;

    a {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: $header-first-row-height;
      padding: 0 13px;
      color: $gray;
      transition: .15s ease-in-out;

      &:before {
        z-index: 2;
      }

      &:after {
        content: '';
        @include size(40px);
        @include absolute(50% null null 50%);
        z-index: 1;
        transform: translate(-50%, -50%) scale(0);
        background: $brand-primary;
        transition: .25s ease-in-out;
        border-radius: 50%;
      }

      &:hover {
        color: $global-color;

        &:after{
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }

    .content {
      &:nth-of-type(1):not(.contact) {
        margin-left: -#{$padding-outer};

        a {
          font-size: $font-size-md;
        }
      }

      &:nth-last-of-type(1):not(.social) {
        margin-right: -#{$padding-outer};

        a {
          font-size: $font-size-sm;
          @include transition-willChange(color);

          &:hover {
            color: $brand-primary;
          }

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.nav {
  position: relative;
  @extend %container;
  height: $nav-height;
  font-size: 0;
  @include clearfix;

  ul {
    @include flex-dispay;
    height: 100%;

    &:nth-of-type(1){
      float: left;

      @include sm {
        margin-left: 20px;
      }

      @include md {
        margin-left: 40px;
      }

      @include lg {
        margin-left: 80px;
      }
    }

    &:nth-last-of-type(1){
      float: right;

      @include sm {
        margin-right: 20px;
      }

      @include md {
        margin-right: 40px;
      }

      @include lg {
        margin-right: 80px;
      }
    }

    li {
      a {
        position: relative;
        @include flex-dispay;
        @include flex-center;
        height: $nav-height;
        padding: 0 20px;
        font-size: $font-size-sm;
        color: $gray;
        text-transform: uppercase;
        //@include transition-willChange(background-color);
        overflow: hidden;

        &:after {
          content: '';
          @include size(100%);
          @include absolute(0 0 null null);
          background-color: $brand-primary;
          transform:  translateY(100%);
          @include transition-willChange(transform);
        }

        @include sm {
          padding: 0 10px;
        }

        @include md {
          padding: 0 20px;
        }

        &:hover {
          &:after {
            transform:  translateY(0);
            z-index: -1;
          }

          span {
            display: block;
            @include size(100% auto);
            text-align: center;
          }

          .orig {
            transform: translateY(-300%);
          }

          .hover {
            bottom: 50%;
            transform: translate(-50%, 50%);
            color: $global-color;
          }
        }

        .orig {
          position: relative;
          @include transition-willChange(transform);
        }

        .hover {
          @include absolute(null null 0 50%);
          transform: translate(-50%, 300%);
          @include transition-willChange(transform);
        }

        .icon {
          padding-left: $rem / 2;
        }
      }
    }
  }
}

.logo {
  display: block;
  @include absolute(80px null null 50%);
  transform: translate(-50%, -50%);
  z-index: 21;

  > img {
    @include img-responsive;

    @include sm {
      max-width: 155px;
    }

    @include md {
      max-width: 200px;
    }

    @include lg {
      max-width: 100%;
    }
  }
}
